.eventsHomePage {
    width: 90%;
    margin: 20px auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    overflow: hidden;
}

.eventsTitle {
    display: flex;
    justify-content: center;
    align-items: center
}

.beachMeal {

    height: 100%;
    min-height: 15vh;
    background-image: url("/public/beachMeal.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    transition: .4s;
}



.birthday {
    height: 100%;
    min-height: 20vh;
    background-image: url("https://images.pexels.com/photos/587741/pexels-photo-587741.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    transition: .4s;
}

.proposal {
    height: 100%;
    min-height: 20vh;
    background-image: url("https://images.pexels.com/photos/4765078/pexels-photo-4765078.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    transition: .4s;
}

.engagement {
    height: 100%;
    min-height: 20vh;
    background-image: url("https://images.pexels.com/photos/888899/pexels-photo-888899.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    transition: .4s;
}

.engagement:hover,
.proposal:hover,
.birthday:hover {
    scale: 1.05
}

@media(max-width:600px) {
    .engagement {
        min-height: 10vh;
    }

    .proposal {
        min-height: 10vh;
    }

    .birthday {
        min-height: 10vh;
    }
}