.mealsHomePage {
    width: 90%;
    margin: 20px auto;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.mealsTitle {
    display: flex;
    justify-content: center;
    align-items: center
}

.beachMeal {
    height: 100%;
    background-image: url("/public/beachMeal.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

.yachtMeal {
    height: 100%;
    background-image: url("/public/yachtMeal.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

.resMeal {
    height: 100%;
    background-image: url("/public/restaurant.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

.natureMeal {
    height: 100%;
    background-image: url("/public/natureMeal.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
}